<a href="https://colab.research.google.com/github/SempeOnielPhoole/NumPy-and-Pandas/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Creating 1D and 2D Arrays

In [1]:
import numpy as np

numbers = [1,2,3,4,5]
numbers= np.array(numbers)
print("One Dimensional Array : ",numbers)

One Dimensional Array :  [1 2 3 4 5]

In [2]:
import numpy as np

numbers = ["1,2,3,4,5"],["Hello","learners"]
numbers = np.array(numbers)
print("Two Dimensional Array : ",numbers)

Two Dimensional Array :  [list(['1,2,3,4,5']) list(['Hello', 'learners'])]

<ipython-input-2-a4c400bbed3e>:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  numbers = np.array(numbers)

Eye Function in NumPy

In [3]:
eye_mat = np.eye(3)
print("one across diagonals:  \n\n",eye_mat)

one across diagonals:

 [[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

Random numbers from 0 to 100 printing 10

In [5]:
random_print = np.random.randint(0,100,10)
print("Random numbers from 0 to 100 printing 10: \n\n",random_print)

Random numbers from 0 to 100 printing 10:

 [79 96 52 91 36 16 93 85 20 65]

Printing the last element in the array

In [6]:
names = np.array(["Jacob","Sam","Kate","Simon"])
print("\n Last element of the array is:",names[-1])

 Last element of the array is: Simon

Printing 3rd element of the 2nd row

In [8]:
numbers = np.array([[5,8,3],[3,1,2],[5,7,8]])
print("Second Row, third element:",numbers[1][2])

Second Row, third element: 2

Using a 5*5 array,insert number 1 to 25

In [11]:
numbers = np.arange(1,26).reshape(5,5)
print("Numbers inserted \n\n",numbers)

Numbers inserted

 [[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]
 [21 22 23 24 25]]

Replacing all even numbers in the array

In [12]:
numbers = np.array([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15])
numbers[numbers%2==0] = 10
print(numbers)

[10  1 10  3 10  5 10  7 10  9 10 11 10 13 10 15]

Converting a 1D arrray into 2D array

In [4]:
import numpy as np

numbers = np.arange(10)
print(numbers)
print("Reshaped into 2 dimensions:\n")
numbers.reshape(2,-1)

[0 1 2 3 4 5 6 7 8 9]
Reshaped into 2 dimensions:

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

Printing the common elements in two arrays

In [5]:
x = np.array([10,6,30,45,2])
y = np.array([36,85,10,2,7,30])
np.intersect1d(x,y)

array([ 2, 10, 30])

Printing elements from 3 to 6 in an array

In [8]:
numbers = np.arange(10)
print(numbers)
numbers[(numbers >= 3) & (numbers <= 6)]

[0 1 2 3 4 5 6 7 8 9]

array([3, 4, 5, 6])

Sample series using Dictionary and Pandas

In [10]:
import pandas as pd
import numpy as np
sample_dict = {"x":1,"y":2,"z":3}
the_series = pd.Series(sample_dict)
print (the_series)

x    1
y    2
z    3
dtype: int64

Assigning names to series index

In [12]:
sample_series = pd.Series(list('123456789'))
sample_series.name = 'numbers'
sample_series.head()

0    1
1    2
2    3
3    4
4    5
Name: numbers, dtype: object

Printing items that are present only in one series

In [13]:
first_series = pd.Series([1,2,3,4,6])
second_series = pd.Series([5,6,7,8])
first_series[~first_series.isin(second_series)]

0    1
1    2
2    3
3    4
dtype: int64

Converting NumPy array into a Pandas DataFrame

In [15]:
sample_series = pd.Series(np.random.randint(1,30,25))
data_frame = pd.DataFrame(sample_series.values.reshape(5,5))
print(data_frame)

    0   1   2   3   4
0   1  25  13  22  27
1  15  22  11  25  24
2  16   2  19  27  21
3   1   7   3  28  13
4  19  10  18  22  11